/* Tabs functionality logic */
.app > :last-child > .app-content,
.app > *:target > .app-content {
  display: block;
}

.app > * > .app-content,
.app > *:target ~ *:last-child > .app-content {
  display: none;
}

/* Highlight currently selected tab */
.app > :last-child > .app-tab,
.app > *:target > .app-tab {
  font-weight: bold;
  opacity: 1;
}

.app > * > .app-tab,
.app > *:target ~ *:last-child > .app-tab {
  font-weight: normal;
  opacity: 0.5;
}

/* Main app content */
.app-container {
  display: flex;
  justify-content: center;
  height: 60vh;
}

.app {
  display: flex;
  flex-flow: row-reverse;
  position: relative;
}

.app > :first-child {
  margin-right: auto;
}

.app-tab {
  margin: 0;
  padding: 1em;
  line-height: 0;
}

.app-tab > a {
  text-decoration: none;
  color: inherit;
}

.app-content {
  display: inline-block;
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translate(-50%, 0);
  /* app styling */
  width: 70vw;
  height: 50vh;
  border-radius: 0.5em;
  border: solid black 5px;
}

.app-dropzone {
  z-index: 2;
  border: dashed white 6px;
  visibility: visible;
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
}

.app-dropzone-fadeout {
  opacity: 0;
  pointer-events: none;
}
#app-dropzone-input {
  display: none;
}

label[for="app-dropzone-input"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 100%;
}

.app-textarea {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  border: none;
  background: transparent;
  resize: none;
}

#app-previewFrame {
  width: 100%;
  height: 100%;
  border: none;
}

/* Page content */
.page-header {
  text-align: center;
}

.page-howto {
  padding: 1em;
}